#miCanvas{
    width: 100%;
    text-align: center;
}

#canvas{
   border: 4px solid rgb(0, 0, 0);
}

#info{
    float: left;
    width: 100%;
    text-align: center;
}

#botones{
    width: 100%;
    text-align: center;
}

button{
    width: 20%;
    height: 33px;
    margin: 3% auto;
}